<nz-table #nzTable [nzData]="listOfDisplayData" nzTableLayout="fixed" [nzShowPagination]="false" [nzLoading]="loadingTable">
  <thead>
  <tr>
    <th nzCustomFilter>
      Name
      <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
        <i nz-icon nzType="search"></i>
      </nz-filter-trigger>
    </th>
    <th>CPF</th>
    <th>Animals</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <ng-template ngFor let-data [ngForOf]="nzTable.data">
    <tr>
      <td>{{ data.name }}</td>
      <td>{{ data.cpf | cpf }}</td>
      <td [(nzExpand)]="data.expand"></td>
      <td>
        <a nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deleteRow(data._id)">Delete</a>
      </td>
    </tr>
    <tr [nzExpand]="data.expand">
      <app-animal-table [animalIds]="data._animals"></app-animal-table>
    </tr>
  </ng-template>
  </tbody>
</nz-table>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue"/>
      <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
        Search
      </button>
      <button nz-button nzSize="small" (click)="reset()">Reset</button>
    </div>
  </div>
</nz-dropdown-menu>
